@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
:root {
    --primary: #06113c;
    --secondary: #ff8c32;
    --secondary-dos: #e56c10;
    --text-color: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
}
.background {
    background: #f6f9fc;
    padding: 50px 0;
}
.container {
    max-width: 90%;
    margin: auto;
}
.d_flex {
    display: flex;
    justify-content: space-between;
}
.c_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.f_flex {
    display: flex;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}
.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}
.RText {
    text-align-last: right;
}
input,
button {
    border: none;
    outline: none;
    background: none;
}
.row {
    width: 50%;
}
.icon-circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #f3f5f9;
    margin-left: 20px;
    border-radius: 50%;
}
.boxShadow {
    box-shadow: 0px 4px 16px rgba(43 52 69 / 10%);
}
/*---------category----------*/
.contentWidth {
    width: 77%;
}
.category {
    box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
    background-color: #fff;
    width: 23%;
    height: 510px;
    padding: 15px 0px;
    border-radius: 5px;
    margin-top: 5px;
    align-items: center;
}
.category img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    object-fit: contain;
}
.category span {
    margin: 10px 20px;
    text-transform: capitalize;
}
.category .box {
    transition: 0.5s;
    padding: 0px 20px;
}
.category .box:hover {
    /* box-shadow: 0px 4px 16px rgba(43 52 69 / 10%); */
    background-color: #e1e4ff;
    cursor: pointer;
}
/*---------End category----------*/
/*---------Slide----------*/
.btn-primary {
    padding: 13px 40px;
    font-weight: bold;
    background: var(--secondary-dos);
    color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.btn-primary:hover {
    background: var(--secondary);
    color: #fff;
}
.top {
    margin-top: 80px;
}
.mtop {
    margin-top: 40px;
}
.heading i {
    color: var(--secondary-dos);
    margin: 10px;
}
.discount {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--secondary);
    padding: 3px 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    color: #fff;
    margin: 10px;
}
.box {
    padding: 10px;
}

/*---------End slide----------*/
/*---------Init Product----------*/
.product {
    background: #fff;
    position: relative;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
    margin: 10px;
}
.product h3 {
    font-weight: 400;
    font-size: 17px;
}

.product .rate i {
    font-size: 16px;
    color: #ffcd4e;
    margin: 5px 5px 5px 0;
}
.product .price {
    display: flex;
    justify-content: space-between;
    color: var(--secondary);
}
.price button {
    cursor: pointer;
    background-color: var(--secondary);
    color: #fff;
    font-size: 25px;
    align-items: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.price button:hover {
    background-color: var(--primary);
}

.product-like {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    opacity: 0;
    transition: all 0.3s ease;
}
.product-like label {
    background-color: var(--primary);
    padding: 3px 12px;
    font-size: 12px;
    color: #fff;
    border-radius: 50px;
}
.product-like i {
    font-size: 25px;
    margin: 10px 3px;
}
.product:hover .product-like {
    opacity: 1;
}
/*---------End Product----------*/
/*----- control btn -------*/
.control-btn .next,
.control-btn .prev {
    position: absolute;
    top: 40%;
    width: 50px;
    height: 50px;
    line-height: 60px;
    background: var(--primary);
    border-radius: 50%;
    transform: 0.5s;
    z-index: 5;
}
.control-btn .prev {
    left: -20px;
}
.control-btn .next {
    right: -20px;
}
.control-btn .prev i,
.control-btn .next i {
    font-size: 20px;
    transition: 0.5s;
    color: #fff;
}
.control-btn .prev:hover,
.control-btn .next:hover {
    background: var(--secondary-dos);
    color: white;
    cursor: pointer;
}
/*----- control btn -------*/
/*----- heading -------*/
.heading .heading-left i {
    font-size: 30px;
}
.heading .heading-left h2 {
    font-size: 25px;
    margin: 5px;
}
.heading .heading-right i,
.heading .heading-right {
    text-align: right;
    color: grey;
}
/*----- heading -------*/
.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;
}
.grid2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
@media (max-width: 992px) {
    .arrivals-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
}
@media (max-width: 768px) {
    .arrivals-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
    .contentWidth {
        width: 100%;
    }
}
@media (max-width: 480px) {
    .arrivals-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
    .contentWidth {
        width: 100%;
    }
}
@media (max-width: 400px) {
    .arrivals-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
    .contentWidth {
        width: 100%;
    }
}
.icon-gift {
    color: var(--secondary-dos);
    font-size: 25px;
}
.img {
    width: 100%;
}
@media (max-width: 768px) {
    .annocument {
        display: none;
    }
}
@media (max-width: 992px) {
    .annocument {
        display: none;
    }
}
